/*----- font-family -----*/
@font-face {
    font-family: 'GothamM';
    src: url('../fonts/GothamM/GOTHAMMEDIUM.eot');
    src: url('../fonts/GothamM/GOTHAMMEDIUM.eot') format('embedded-opentype'),
         url('../fonts/GothamM/GOTHAMMEDIUM.woff2') format('woff2'),
         url('../fonts/GothamM/GOTHAMMEDIUM.woff') format('woff'),
         url('../fonts/GothamM/GOTHAMMEDIUM.ttf') format('truetype'),
         url('../fonts/GothamM/GOTHAMMEDIUM.svg#GOTHAMMEDIUM') format('svg');
}

@font-face {
    font-family: 'GothamB';
    src: url('../fonts/GothamB/GOTHAMBOLD.eot');
    src: url('../fonts/GothamB/GOTHAMBOLD.eot') format('embedded-opentype'),
         url('../fonts/GothamB/GOTHAMBOLD.woff2') format('woff2'),
         url('../fonts/GothamB/GOTHAMBOLD.woff') format('woff'),
         url('../fonts/GothamB/GOTHAMBOLD.ttf') format('truetype'),
         url('../fonts/GothamB/GOTHAMBOLD.svg#GOTHAMBOLD') format('svg');
}

/*----- reset -----*/

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

/*----- style -----*/
/*==================
    Header
====================*/




























































































































/*==================
    main-content
====================*/



/*----- end style -----*/
@-moz-document url-prefix() { 
	
}

@media (max-width: 1024px){}
@media (max-width: 992px){}
@media (max-width: 768px){}
@media (max-width: 480px){}
@media (max-width: 320px){}